<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h2 class="item-title">{{ .Title }}</h2>
		</div>

		<blockquote class="markdown">
			{{ .Content }}
			{{ if (isset .Params "authors") }}
				<span class="author"><i>{{ range (.GetTerms "authors") }}<a href="{{ .Permalink }}">{{ .LinkTitle }} </a>{{ end }}</i></span>
			{{ else if (isset .Params "bible_reference") }}
				<span class="author"><i>{{ .Params.bible_reference }}</i></span>
			{{ end }}
		</blockquote>

		{{ partial "meta.terms.html" . }}

		{{ with .Params.links }}
		{{ range $key, $value := . }}
		  {{ if eq $key "pdf" }}

		  <div class="pdf">
		  <embed class="pdfembed" src="{{ $value }}" width="100%" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
		  </div>
		  {{ end }}
		{{ end }}
	  {{ end }}
	</div>
	{{ partial "feedback.html" . }}
	{{ partial "footer.html" . }}
</body>
</html>
