<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
<ul>
  {{ if isset .Params "authors" }}
    <li>Author: {{ range (.GetTerms "authors") }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ end }}</li>
  {{ end }}
  {{ with .Params.source }}<li>Source: {{ . }}</li>{{ end }}
  <li>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      Recorded: {{ .Date.Format "Jan 02, 2006" }}
    </time>
  </li>
</ul>

<content><div class="quote">
  {{ .Content }}
</div></content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>