<div class="footer wrapper">
<!-- <div class="search">
    <center>
        <form method="get" action="" class="pure-form pure-form-aligned">
                <input id="search" name="q" type="text" />
                <button type="submit" class="pure-button" formaction="/search/index.html">Search</button>
            </form>
    </center>
</div> -->
<center>
<a href="https://ulsterworldly.com">ulsterworldly.com</a>
&#183;
<a href="https://reformeddeacon.com">reformeddeacon.com</a>
&#183;
<a href="https://reformedconfessions.com">reformedconfessions.com</a>
&#183;
<a href="https://readmachen.com">readmachen.com</a>
&#183;
<a href="https://twitter.com/john__newton">@john__newton</a>
&#183;
<a href="https://twitter.com/jg_machen">@jg_machen</a>
&#183;
<a href="https://twitter.com/pres_history">@pres_history</a>
&#183;
</center>
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
