<div class="footer wrapper" style="text-align: center;">

<a href="https://ulsterworldly.com">ulsterworldly.com</a>
&#183;
<a href="https://reformeddeacon.com">reformeddeacon.com</a>
&#183;
<a href="https://reformedconfessions.com">reformedconfessions.com</a>
&#183;
<a href="https://readmachen.com">readmachen.com</a>
&#183;
<a href="https://tim.ulsterworldly.com/about/">about tim</a>
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
