<div class="footer wrapper" style="text-align: center;">

<a href="https://ulsterworldly.com">ulsterworldly.com</a>
&#183;
<a href="https://reformeddeacon.com">reformeddeacon.com</a>
&#183;
<a href="https://reformedconfessions.com">reformedconfessions.com</a>
&#183;
<a href="https://readmachen.com">readmachen.com</a>
&#183;
<a href="https://twitter.com/john__newton">@john__newton</a>
&#183;
<a href="https://twitter.com/jg_machen">@jg_machen</a>
&#183;
<a href="https://twitter.com/pres_history">@pres_history</a>
&#183;
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
